<footer>
    <div class="footer-wrapper">
        <div class="columnFooter">
            <h1>TICK TACK! Publishers.</h1>
            <ul>
                <li>500 Terry Francois St.</li>
                <li>San Francisco, CA 94158</li>
                <li>123-456-7890</li>
                <li>info@my-domain.com</li>
            </ul>
        </div>
        <div class="columnFooter">
            <h1>Shop</h1>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Shipping & Returns</a></li>
                <li><a href="#">Store Policy</a></li>
                <li><a href="#">Payment Methods</a></li>
            </ul>
        </div>
        <div class="columnFooter">
            <h1>Socials</h1>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Pinterest</a></li>
            </ul>
        </div>
        <div class="columnFooter">
            <h1>Be the First to Know</h1>
            <!-- <ul>
                <li>Sign up for our newsletter</li>
                <li><input type="text" placeholder="Enter your email here*"></li>
                <li><button type="submit"><h1>Subscribe</h1></li>
            </ul> -->
        </div>
    </div>
    <h1 class="copyright">© 2023 by TICK TACK! Publishers.</h1>
</footer>