<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script async src="/js/search.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="stylesheet" type="text/css" href="/css/Login.css">
    <link rel="stylesheet" type="text/css" href="/css/Register.css">
    <link rel="stylesheet" type="text/css" href="/css/checkout.css">
    <link rel="stylesheet" type="text/css" href="/css/bookCarousel.css">
    <link rel="stylesheet" href="/css/bookItem.css">

    <link href = "/assets/css/all.css" rel="stylesheet">
    <title>Tick Tack</title>
</head>