<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script async src="/js/search.js"></script>
    <link href = "/assets/css/all.css" rel="stylesheet">
    <title>Tick Tack</title>
</head>