<div class="nav">
    <div class="logo">
        <div class="one">
            <h1><a href="#">Tick</a></h1>
        </div>
        <div class="two">
            <h1><a href="#">Tack!</a></h1>
        </div>        
    </div>
    <ul>
        <li><a href="#">Bookstore</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#"><i class="fa-solid fa-circle-user"></i>Log In</a></li>
        <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
        
    </ul>
</div>