<div class="nav">
    <div class="logo">
        <h1><a href="/">Tick Tak</a></h1>
    </div>
    <ul>
        <li><a href="#">Bookstore</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/auth/login"><i class="fa-solid fa-circle-user"></i>Log In</a></li>
        <li><a href="/checkout"><i class="fa-solid fa-cart-shopping"></i></a></li>
        
    </ul>
</div>