<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header"); -%>

<body>
    <header>
        <%- include('layouts/navbar'); -%>
    </header>
    <div class="bookItem">
      <div class="container">
        <article class="item-pane">
          <div class="item-preview">
            <div class="book" style="background: url('/assets/img/Of_Mice_And_Men.jpeg');   
                        background-size: 358px 358px;
                        background-position: 50% 50%;"
                        >
                      </div>
          </div>
          <div class="item-details">
            <h1>Of Mice and Men</h1><span class="subtitle">John Steinbeck</span>
            <div class="pane__section">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.
                - <a href="https://www.lipsum.com/">Lisum.com</a>
              </p>
            </div>
            <div class="pane__section">
              <dl>
                <dt>Cover by</dt>
                <dd><a href="https://github.com/truongchau2602">Chau Truong </a></dd>
                <dt>Format</dt>
                <dd>Paperback</dd>
                <dt>Publisher</dt>
                <dd>Tick Tak</dd>
                <dt>Published</dt>
                <dd>1937</dd>
                <dt>Edition</dt>
                <dd>N/A</dd>
                <dt>ISBN</dt>
                <dd>1234567890</dd>
              </dl>
            </div>
            <div class="pane__section clearfix">
              <span class="item-price">10.99<span class="item-price__units">NZD</span></span>
              

                <a class="button buy-button" href="/">ADD TO CART</a>
              </form>
            </div>
          </div>
        </article>
      </div>
    </div>


       
   
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>


</body>
</html>

