<!DOCTYPE html>
<html lang="en">
    <%- include("layouts/header"); -%>
<body>
    <header>
        <%- include('layouts/navbar'); -%>
    </header>
    
    <div class="contact">
        <h1 class='contact-header'>For More Info <br></br> <span>CONTACT US</span></h1>
        <div class='image-wrapper-outer'>
            <div class='image-wrapper-inner'>
                <div class='image-wrapper-form'>
                    <div class='image-wrapper-form-info'>
                        <div class='image-wrapper-form-info-item'>
                                <h1>Store 01</h1>
                                <p class='address'>Address <br></br>VGU Binh Duong</p>
                                <p class='tel'>Tel <br></br>123-456-7890</p>
                                <p class='mail'>Email <br></br>info@my-domain.com</p>
                        </div>
                        <div class='image-wrapper-form-info-item'>
                                <h1>Store 02</h1>
                                <p class='address'>Address <br></br>VGU TPHCM</p>
                                <p class='tel'>Tel <br></br>123-456-7890</p>
                                <p class='mail'>Email <br></br>info@my-domain.com</p>
                        </div>
                        <div class='image-wrapper-form-info-item'>
                                <h1>Customer Service</h1>
                                <p class='tel'>Tel <br></br>1-800-000-0000</p>
                                <p class='mail'>Email <br></br>info@my-domain.com</p>
                        </div>
                        </div>
    
                        <div class='image-wrapper-form-input'>
                            <input type="text" id="fname" placeholder='Name'></input>
                            <input type="text" id="fmail" placeholder='Email'></input>
                            <textarea placeholder='Type your message here..' rows = "4"></textarea>
                            <input type="submit" class='submit' value="Submit"></input>
                        </div>
                    </div>
    
                    
                </div>
            </div>
    </div> 
       
   
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>

</body>
</html>

