<!DOCTYPE html>
<html lang="en">
    <%- include("layouts/header"); -%>
<body>
    <header>
        <%- include('layouts/navbar'); -%>

        <div class="front">
            <img src="/assets/img/yellow-cover.jpg">
            <h1>"Today a reader,<br>Tomorrow a leader."</h1>
            <div class="search-container">
                <input type="text" onfocusin="myFunction(this)" onfocusout="myFunction2(this)" id="textField" placeholder="Search books, authors, categories..">
                <button type="submit" id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
           
        </div>
    </header>
    <section class="bestseller">
        
    </section>
    
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>

</body>
</html>