<!DOCTYPE html>
<html lang="en">
    <%- include("layouts/header"); -%>
<body>
    <header>
        <%- include('layouts/navbar'); -%>
    </header>

    <div class='Login'>
        
        <div class = "Login-form ">
            <div class = "form__title">
                <h1>Login</h1>
            </div>
                <div class = "form__input-group">
                <form action="/auth/users/login" method="POST" enctype="application/x-www-form-urlencoded">
                    <input type="username" id="username" class="form__input" placeholder="Username or Email" name="username" />
                    <div class='form__input-error--message '></div>
                    <input type="password" id="password" class="form__input" placeholder="Password" name="password" />    
                    <div class='form__input-error--message '></div>
                    <button type="submit" class = "form__button">Continue</button>
                </form>
            </div>

            <!-- <button type="submit" class = "form__button">Continue</button>
            </form> -->
            
            <p class="form__text">
                <a class="form__link" href="/auth/register" id="linkCreateAccount">Don't have an account? Register here.</a>
            </p>
            <p class="form__text">
                <a class="form__link" href="/auth/forget" id="linkForgetPassword">Forgot your password?</a>
            </p>
        </div>
    </div>
    
       
   
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>

</body>
</html>
