@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@font-face {
  font-family: palatino;
  src: url('../assets/webfonts/Palatino\ Font.ttf') format("truetype");
}

.contact {
  height: 150vh;
}

.contact .contact-header {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #0E345A;
  text-align: center;
  line-height: 1;
}

.contact .contact-header span {
  font-family: 'Koulen', cursive;
  font-size: 4rem;
}

.contact .image-wrapper-outer {
  position: relative;
  top: 15%;
  height: 95vh;
  margin-left: 5%;
  margin-right: 5%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(5%, #ffffff), color-stop(5%, #F2F2F2), to(#F2F2F2));
  background-image: linear-gradient(#ffffff 0%, #ffffff 5%, #F2F2F2 5%, #F2F2F2 100%);
}

.contact .image-wrapper-inner {
  position: relative;
  height: 95vh;
  background-color: #0E345A;
  margin-left: 20%;
  margin-right: 20%;
}

.contact .image-wrapper-inner .image-wrapper-form {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  left: 50%;
  top: 50%;
  height: 96.5%;
  width: 96.8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.contact .image-wrapper-inner .image-wrapper-form-info {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:first-child h1 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #0E345A;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  top: 18%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:first-child p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #0E345A;
  font-size: 1.15rem;
  letter-spacing: 0.8px;
  line-height: 1.4;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:first-child .address {
  top: 35%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:first-child .tel {
  top: 63%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:first-child .mail {
  top: 85%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(2) h1 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #0E345A;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  top: 18%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(2) p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #0E345A;
  font-size: 1.15rem;
  letter-spacing: 0.8px;
  line-height: 1.4;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(2) .address {
  top: 35%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(2) .tel {
  top: 63%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(2) .mail {
  top: 85%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(3) h1 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #0E345A;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  top: 18%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(3) p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #0E345A;
  font-size: 1.15rem;
  letter-spacing: 0.8px;
  line-height: 1.4;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(3) .tel {
  top: 35%;
}

.contact .image-wrapper-inner .image-wrapper-form-info-item:nth-child(3) .mail {
  top: 63%;
}

.contact .image-wrapper-inner .image-wrapper-form-input {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 80px 200px 80px;
      grid-template-rows: 80px 200px 80px;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.contact .image-wrapper-inner .image-wrapper-form-input input {
  height: 50%;
  width: 90%;
  border-style: none;
  border-bottom: solid;
  border-bottom-width: 0.1px;
  border-color: #0E345A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
}

.contact .image-wrapper-inner .image-wrapper-form-input input::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  color: #0E345A;
}

.contact .image-wrapper-inner .image-wrapper-form-input input:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  color: #0E345A;
}

.contact .image-wrapper-inner .image-wrapper-form-input input::-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  color: #0E345A;
}

.contact .image-wrapper-inner .image-wrapper-form-input input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  color: #0E345A;
}

.contact .image-wrapper-inner .image-wrapper-form-input input:focus {
  border-bottom-width: 3px;
  outline: none;
}

.contact .image-wrapper-inner .image-wrapper-form-input #fmail {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.contact .image-wrapper-inner .image-wrapper-form-input textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 95%;
  border-style: none;
  border-bottom: solid;
  border-bottom-width: 0.1px;
  border-color: #0E345A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  resize: none;
  overflow: hidden;
}

.contact .image-wrapper-inner .image-wrapper-form-input textarea::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  color: #0E345A;
}

.contact .image-wrapper-inner .image-wrapper-form-input textarea:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  color: #0E345A;
}

.contact .image-wrapper-inner .image-wrapper-form-input textarea::-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  color: #0E345A;
}

.contact .image-wrapper-inner .image-wrapper-form-input textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  color: #0E345A;
}

.contact .image-wrapper-inner .image-wrapper-form-input textarea:focus {
  outline: none;
  border-bottom-width: 3px;
  border-color: #0E345A;
}

.contact .image-wrapper-inner .image-wrapper-form .submit {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  position: relative;
  margin-top: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20%;
  background-color: transparent;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  color: #0E345A;
  cursor: pointer;
}
/*# sourceMappingURL=contact.css.map */