@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@font-face {
  font-family: palatino;
  src: url('../assets/webfonts/Palatino\ Font.ttf') format("truetype");
}

html {
  height: 100%;
}

.home {
  height: 100%;
  width: 100%;
}

.home .header-wrapper {
  position: relative;
  height: 75vh;
  background-color: #FAD405;
  margin-top: 1.5%;
  margin-left: 5%;
  margin-right: 5%;
}

.home .header-wrapper img {
  width: 60%;
  height: 100%;
  -o-object-position: -14rem;
     object-position: -14rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .header-wrapper h1 {
  position: absolute;
  display: block;
  font-family: 'Koulen', cursive;
  color: #ffffff;
  top: 30%;
  left: 35%;
  font-size: 7rem;
  width: 60%;
  line-height: 1.1;
}

.home .best-sellers {
  position: relative;
  height: 220vh;
}

.home .best-sellers h1 {
  position: relative;
  font-family: 'Koulen', cursive;
  text-align: center;
  top: 8%;
  color: #0E345A;
  font-size: 5rem;
}

.home .best-sellers-wrapper {
  position: relative;
  height: 180vh;
  top: 12%;
  margin-left: 5%;
  margin-right: 5%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(5%, #ffffff), color-stop(5%, #0E345A), to(#0E345A));
  background-image: linear-gradient(#ffffff 0%, #ffffff 5%, #0E345A 5%, #0E345A 100%);
}

.home .best-sellers-wrapper h1 {
  position: relative;
  top: 10%;
  color: #ffffff;
  text-align: center;
}

.home .best-sellers-wrapper .transition {
  position: relative;
  text-align: center;
  font-size: 5.5rem;
  top: 25%;
}

.home .best-sellers-wrapper .read {
  position: relative;
  display: block;
  text-decoration: none;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  color: #ffffff;
  height: 36px;
  width: 150px;
  text-align: center;
  padding-top: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 28%;
}

.home .book-launch {
  height: 105vh;
}

.home .book-launch h1 {
  position: relative;
  color: #0E345A;
  font-family: 'Koulen', cursive;
  font-size: 5rem;
  top: 0;
  text-align: center;
  margin-bottom: 4%;
}

.home .book-launch-wrapper {
  display: -ms-grid;
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 80vh;
      grid-template-rows: 80vh;
}

.home .book-launch-wrapper-left h1 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  top: 20%;
  left: 10%;
}

.home .book-launch-wrapper-left p {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #0E345A;
  font-size: 1.1rem;
  top: 20%;
  left: 40.5%;
  margin-bottom: 5%;
  line-height: 2;
}

.home .book-launch-wrapper-left a {
  position: relative;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #0E345A;
  border-style: solid;
  border-width: 3px;
  padding: 1.5%;
  text-transform: uppercase;
  top: 24%;
  left: 40%;
}

.home .book-launch-wrapper-right .image-outer {
  position: relative;
  height: 90%;
  width: 550px;
  background-color: #0E345A;
}

.home .book-launch-wrapper-right .image-outer .image-inner {
  position: absolute;
  height: 95%;
  width: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FAD405;
}

.home .book-launch-wrapper-right .image-outer .image-inner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=home.css.map */